@using Campus_Events.ViewModels
@model ForgottenPasswordVM
@{
    Layout = "_Layout";
    ViewData["Title"] = "Campus Events - Password Forgotten";
}



<div id="forgot-password-page">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success text-center shadow-sm" role="alert">
                    <p>
                        If you are registered with us, <br />
                        an email has been sent to your registered email address.
                    </p>
                </div>
            }
            else
            {
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="text-center mb-4 text-dark">Forgot Password</h4>
                        <p class="text-center text-muted mb-4">
                            No worries! Enter your email below, and we’ll help you reset your password.
                        </p>
                        <form asp-action="ForgotPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="Email" class="form-label fw-bold">Email</label>
                                <input asp-for="Email" class="form-control p-2" placeholder="Enter your email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="d-grid">
                                <input type="submit" value="Continue" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            }
            <div class="text-center mt-3">
                <p class="text-muted">
                    Back to <a asp-action="Login" asp-controller="Authentication" class="text-primary fw-bold">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>





